/* Navbar */

.navbar {
  font-family: $type1-semibold;
  background: $black;
  -webkit-box-shadow: 0px 8px 74px -29px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 8px 74px -29px rgba(0,0,0,0.35);
  box-shadow: 0px 8px 74px -29px rgba(0,0,0,0.35);
  transition:background $action-transition-duration $action-transition-timing-function;
  -webkit-transition:background $action-transition-duration $action-transition-timing-function;
  -moz-transition:background $action-transition-duration $action-transition-timing-function;
  -ms-transition:background $action-transition-duration $action-transition-timing-function;
  .navbar-brand-wrapper {
    transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    background: $sidebar-dark-bg;
    width: $sidebar-width-lg;
    height: $navbar-height;

    .navbar-brand {
      color: lighten(color(gray-dark), 20%);
      font-size: 1.5rem;
      line-height: 48px;
      margin-right: 0;
      padding: .25rem 0;

      &:active,
      &:focus,
      &:hover {
        color: lighten(color(gray-dark), 10%);
      }

      img {
        width: calc(#{$sidebar-width-lg} - 120px );
        max-width: 100%;
        height: 28px;
        margin: auto;
        vertical-align: middle;
      }
    }

    .brand-logo-mini {
      display: none;
      img {
        width: calc(#{$sidebar-width-icon} - 50px );
        max-width: 100%;
        height: 28px;
        margin: auto;
      }
    }
  }

  .navbar-menu-wrapper {
    transition: width $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function;
    color: $navbar-dark-text-color;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - #{$sidebar-width-lg});
    height: $navbar-height;
    @media (max-width: 991px) {
      width: auto;
    }

    .navbar-toggler {
      border: 0;
      color: inherit;
      &:not(.navbar-toggler-right) {
        @media (max-width: 991px) {
          display: none;
        }
      }
    }

    .search {
      input {
        max-width: 100%;
        width: 80%;
        min-width: 50%;
        border: 0;
        padding: 13px 20px 11px 20px;
        background: $card-bg;
        @include placeholder{
          color: $text-muted;
          font-size: .875rem;
          font-family: $type1-regular;
        };
      }
    }

    .navbar-nav {
      flex-direction: row;
      align-items: center;

      .nav-item {
        .nav-link {
          color: $navbar-dark-text-color;
          font-size: $navbar-font-size;
          margin-left: 1rem;
          margin-right: 1rem;
          @media (max-width: 767px) {
            margin-left: .5rem;
            margin-right: .5rem;
          }
          i {
            font-size: $navbar-icon-font-size;
          }
          &.nav-profile {
            img {
              width: 32px;
              height: 32px;
              border-radius: 100%;
              margin-right: 5px;
              @media (min-width: 992px) {
                display: none;
              }
            }
          }
        }
        &.dropdown {
          line-height: 1rem;
          .count-indicator {
            position: relative;

            .count {
              position: absolute;
              left: 50%;
              width: 15px;
              height: 15px;
              color: $white;
              border-radius: 100%;
              text-align: center;
              font-size: .625rem;
              font-family: $type1-semibold;
              line-height: 1.5;
              top: 0px;
            }
            &:after {
              display: none;
            }
          }
          .navbar-dropdown {
            font-size: 0.9rem;
            margin-top: 0;
            position: absolute;
            top: 48px;
            right: 0;
            left: auto;
            -webkit-box-shadow: 0px 0px 35px -3px rgb(0, 0, 0);
            -moz-box-shadow: 0px 0px 35px -3px rgb(0, 0, 0);
            box-shadow: 0px 0px 35px -3px rgb(0, 0, 0);
            background: $dropdown-bg;
            border: none;
            @include border-radius(4px);
            @media (max-width: 991px) {
              right: -85px;
            }
            @extend .dropdownAnimation;
            padding: 0;
            overflow: hidden;

            .dropdown-item {
              @extend .d-flex;
              @extend .align-items-center;
              margin-bottom: 0;
              padding: 11px 13px;

              i {
                font-size: 17px;
              }

              .ellipsis {
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &:hover{
                background: darken($dropdown-bg,2%);
              }
            }

            .dropdown-divider {
              margin: 0;
            }
          }
        }
      }
      &.navbar-nav-right {
        @media (min-width: 992px) {
          margin-left: auto;
          .rtl & {
            margin-left: 0;
            margin-right: auto;
          }
        }
      }
    }
  }
}
@media (max-width:991px) {
  .navbar {
    flex-direction: row;

    .navbar-brand-wrapper {
      width: 75px;

      .brand-logo {
        display: none;
      }

      .brand-logo-mini {
        display: inline-block;
      }
    }
  }

  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
}
